body{
    max-width: 400px;
    margin: auto;
    background-color: rgb(61, 3, 3);
    padding-top: 100px;
}

h2 {
    box-shadow: 8px 8px 2px 1px rgba(153, 151, 8, 0.877);
    padding: 10px 0;
    background-color: burlywood;
}
main>div, form, div#rating, div.new-form-btns>button {
    border-radius: 25px;
    box-shadow: 8px 8px 2px 1px rgba(153, 151, 8, 0.877);
    padding: 15px;
}

form, main>div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    text-align: center;
    min-height: 600px;
}

select {
    font-size: large;
    border-radius: 25px;
    box-shadow: 8px 8px 2px 1px rgba(153, 151, 8, 0.877);
    
}

label {
    padding: 10px;
}

div.bookmark, div.sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 10px;
    font-size: large;
    font-weight: bold;

    padding: 10px;
}

.js-bookmark {
    border: 2px solid darkgray;
    padding: 10px 5px;
    margin: 10px 0;
    border-radius: 25px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 2px 1px rgba(153, 151, 8, 0.877);

}

input[type="radio"]{
    display: none;
}

div#rating{
    background-color: burlywood;
    font-size: xx-large;    
    margin: 20px 0;
    padding: 0;
}

.no-fill {
    color: black;
}

.fill {
    color: yellow;
}

button#delete {
    font-size: large;
    border: none;
    background-color: beige;
    box-shadow: 8px 8px 2px 1px rgba(153, 151, 8, 0.877);
    font-weight: bold;
}
button#new{
    color: green;
    font-size: large;
    border-radius: 25px;
    box-shadow: 8px 8px 2px 1px rgba(153, 151, 8, 0.877);
}

div.error-display {
    min-height: 0;
}

.hidden {
    visibility: hidden;
    margin-top: -50px;
}

#btns-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#visit {
    border: none;
    background-color: beige;
    box-shadow: 8px 8px 2px 1px rgba(153, 151, 8, 0.877);
    font-size: large;
    font-weight: bold;
}

input[type=text], textarea{
    box-shadow: 8px 8px 2px 1px rgba(153, 151, 8, 0.877);
}

input[type=text] {
    height: 30px;
}

label {
    font-size: large;
    font-weight: bold;
    
}
.new-form-btns {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;  
}

div.new-form-btns>button {
    background-color: burlywood;
    padding: 10px;
    margin-top: 15px;
}